#marktplaats>=0.2.5
marktplaats @ git+https://github.com/jensjeflensje/marktplaats-py.git@4b6e774
schema>=0.7.7
# Ntfy
requests>=2.32.3
# Server
flask>=3.1.0
gunicorn>=23.0.0
gevent>=24.11.1
tomli_w>=1.2.0
